{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'fantasy_nba/styles.css' %}">
    <title>{% block title %}Fantasy NBA{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'show_ratings' %}">Ratings</a></li>
            <li><a href="{% url 'punt' %}">Punt</a></li>
            <li><a href="{% url 'breakdown' %}">Breakdown</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>