<!-- templates/fantasy_nba/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'fantasy_nba/styles.css' %}">
    <title>{% block title %}Fantasy NBA{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'show_ratings' %}">Ratings</a></li>
            <li><a href="{% url 'breakdown' %}">Breakdown</a></li>
            <li><a href="{% url 'punt' %}">Settings</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'team' %}">Team</a></li>
                <li>
                    <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login_register' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>