{% load extras %}
<table>
    <colgroup>
        <col style="width: 15%;">
        <col style="width: 8%;">
        <col style="width: 8%;">
        <col style="width: 8%;">
        <col style="width: 8%;">
        <col style="width: 8%;">
        <col style="width: 8%;">
        <col style="width: 8%;">
        <col style="width: 8%;">
    </colgroup>
    <tbody>
        {% for row in ratings %}
            <tr>
                {% for column in columns %}
                    <td>
                        {% if column == 'Name' %}
                            {{ row|get_item:column }}
                        {% else %}
                            {{ row|get_item:column|floatformat:2 }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% empty %}
            <tr><td colspan="{{ columns|length }}">No ratings available</td></tr>
        {% endfor %}
    </tbody>
</table>