<!-- ratings_table_rows.html -->
{% load extras %}
{% for row in ratings %}
    <tr>
        {% for column_key, _ in column_display_names.items %}
            <td>
                {% if column_key == 'Name' %}
                    {{ row|get_item:column_key }}
                {% else %}
                    {{ row|get_item:column_key|floatformat:2 }}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% empty %}
    <tr><td colspan="{{ column_display_names|length }}">No ratings available</td></tr>
{% endfor %}